.Logo{
  display: flex;
  align-items: center;
}
.logo{
  width: 30px;
  height: 70px;
}
.title{
  color: #ffdc23;
  font-family: 'Arabian';
  font-weight: 300;
  font-size: 46px;
  margin: 0px 50px;
}