.Card{
  width: 600px;
  height: 260px;
  background-position: center;
  border: 2px solid #ffdc23;
}
a{
  color: #fff;
  text-decoration: none;
}
.Card>div{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;
}
.Card>div:hover{
  background-color: transparent;
}
.Card h1{
  font-size: 46px;
  margin: 0px;
}
@media (max-width: 1111px) {
  .Card{
    margin-top: 20px;
  }
}
@media (max-width: 700px) {
  .Card{
    width: 400px;
  }
  .Card h1{
    font-size: 26px;
  }
}
@media (max-width: 450px) {
  .Card{
    width: 250px;
  }
}