
.clickDiv{
  cursor: pointer;
}
.MainSection h1{
  margin: 40px 0px;
}
.DishesList{
  transition: transform 0.5s, opacity .5s;
  flex-direction: column;
}

@media (max-width: 400px) {
  .MainSection h1{
    font-size: 24px;
  }
}